body
{
    background-color: #f2f2f2;
}
.slider
{
    position: relative;    
}
.navbar
{
    width: 100%;
    position: absolute;
    z-index: 1;
}
#slider-image
{
    width: auto;
    height: 100vh;
    overflow: hidden;
}
#slider-image img
{
    width: 150%;
    height: 100%;
    border-bottom: 1px solid black;
}
#slider-text
{
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#slider-text h1
{
    margin: 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
#slider-text button
{
    margin-top: 10px;
    font-size: 20px;
}
#chapter
{
    margin-top: 20px;
}
#chapter h2
{
    font-size: 2.5em;
    text-align: center;
}
.white-divider
{
    width: 200px;
    height: 2px;
    background: #fff;
    margin: 10px auto;
}
.grey-divider
{
    width: 200px;
    height: 2px;
    background: #bdc3c7;
    margin: 10px auto 50px auto; 
}
.book
{
    margin-bottom: 20px;
    background: #fff;
    padding: 40px;
}
footer
{
    margin-top: 50px;
    display: flex;
    height: 130px;
    background: #fff;
}
footer div
{
    margin: auto;
}
footer span
{
    font-size: 1.5em;
    padding: 15px;
}
footer h5
{
    font-size: 1em;
}
@media (min-width: 576px) 
{
    .book
    {
        border-radius: 10px;
    }
}
@media (min-width: 768px)
{
    #slider-image img 
    {
        width: 100%;
    }
}