body
{
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}
#main 
{ 
    min-height: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
} 
/* index.php */
.slider
{
    position: relative;   
}
.bg-transparent
{
    width: 100%;
    position: absolute;
    z-index: 1;
}
#home-image
{
    width: auto;
    height: 100vh;
    overflow: hidden;
}
#home-image img
{
    width: 150%;
    height: 100%;
    border-bottom: 1px solid black;
}
#home-text
{
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#home-text h1
{
    margin: 0;
    font-size: 3em;
}
#home-text button
{
    margin-top: 10px;
    font-size: 20px;
}
#last-chapters
{
    margin-top: 20px;
    margin-bottom: 50px;
}
#last-chapters h2
{
    font-size: 2.5em;
}
.white-divider
{
    width: 200px;
    height: 2px;
    background: #fff;
    margin: 10px auto;
}
.divider
{
	position: relative;
    height: 2px;
    margin-bottom: 50px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0; left: 5%; right: 5%;
	width: 80%;
    height: 2px;
    margin: auto;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.book
{
    margin-bottom: 20px;
    background: #fff;
    padding: 40px;
}
footer
{
    width: 100%;
    height: 100px;
    display: flex;
    background: #fff;
}
footer div
{
    margin: auto;
}
footer span
{
    font-size: 1.5em;
    padding: 15px;
}
footer h5
{
    font-size: 1em;
}
/* chapter.php */
#chapter-text
{
    margin: 20px auto;
}
#chapter-text p 
{
    width: 70%;
    text-align: justify;
    margin: 0 auto 50px auto;
}
/* inscription.php */
.inscription
{
    margin: 20px auto;
}
form
{
    max-width: 500px;
    margin: auto;
}
@media (min-width: 576px) 
{
    .book
    {
        border-radius: 10px;
    }
    .div-transparent:before
    {
        width: 20%;
    }
}
@media (min-width: 768px)
{
    #home-image img 
    {
        width: 100%;
    }
}
